.btn__close {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   top: 0;
   right: 0;
   margin-top: 8px;
   margin-right: 8px;
   width: 30px;
   height: 30px;
   padding: 0;
   border: none;
   background-color: var(--primary-white-color);
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;
   cursor: pointer;
   transition: fill var(--timing-function);

&:hover {
   fill: var(--accent-color);
   }
}

