.footer__form {
   margin-left: auto;
}

.footer__register {
   display: flex;

   @media screen and (min-width: 480px) {
      display: block;  
      justify-content: center;
                    
      
   }
 
}

