.footer__form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;

      @media screen and (min-width: 1200px) {
            align-items: flex-start;
            justify-content: flex-start;
         }
}

.footer__register {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;

   @media screen and (min-width: 1200px) {
      flex-direction: row;
      margin-top: 20px;
      width: auto;
   }
}

.footer__group {

   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

      @media screen and (min-width: 768px) {
            max-width: 450px;
         }
      
         @media screen and (min-width: 1200px) {
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 15px;
            width: 358px;
         }
}

