:root {
   /* Fonts */
   --main-font: "Roboto";
   --secondary-font: "Raleway";

   /* Text colors */
   --primary-white-color: #FFFFFF;
   --primary-black-color: #212121;
   --accent-color: #2196F3;
   --upper-title-text: #757575;
   --color-social-link: #AFB1B8;
   /* Bg colors */
   --primary-background-color: #E5E5E5;
   --secondary-background-color: #F5F4FA;
   --background-hero: #2F303A;

   /* Other */
   --items: 4;
   --indent: 30px;
   --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}