.clients__title {
   @media screen and (min-width: 480px) {
   font-size: 28px;
   margin-bottom: 30px;
      }
}

.clients__list {
   display: flex;
   justify-content: center;

   @media screen and (min-width: 480px) {
      flex-wrap: wrap;
      margin: -15px;
      }


}

// .clients__item:not(:last-child) {
//    margin-right: 30px;
// }

.clients__item {
   @media screen and (min-width: 480px) {
         width: calc((100% - 2 * 30px) / 2);
         margin: 15px;
         }

   &:not(:last-child) {
   @media screen and (max-width: 479px) {
      margin-bottom: 30px;
         }
}
}

.clients__link {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 170px;
   height: 92px;
   color: var(--color-social-link);
   border: 1px solid var(--color-social-link);
   border-radius: 4px;

   transition:
      color var(--timing-function),
      border-color var(--timing-function);

&:hover,
&:focus {
   color: var(--accent-color);
   border-color: var(--accent-color);
   }

   @media screen and (min-width: 480px) {
         width: 210px;
            }

}

.clients__logo {
   fill: currentColor;
}