.contact {
   margin-left: auto;
   display: flex;
   align-items: center;
}

.contact__item {
   margin-left: 50px;
}

.contact__link {
   display: flex;
   align-items: center;
   padding-top: 32px;
   padding-bottom: 32px;

   color: var(--upper-title-text);
   font-weight: 500;
   line-height: 1.14;
   letter-spacing: 0.02em;
   text-decoration: none;
   transition: color var(--timing-function);

&:hover,
&:focus {
   color: var(--accent-color);
   }
}

.contact__icon {
   fill: currentColor;
   margin-right: 10px;
}