.features {
   padding-top: 60px;
   padding-bottom: 60px;
}

.features__list {

   @media screen and (min-width: 768px) {
         display: flex;
         flex-wrap: wrap;
         margin: -15px;
      }

   @media screen and (min-width: 1200px) {
         margin: -30px;
      }
}

.features__item {

   @media screen and (min-width: 480px) {
      width: 450px;
   }
   
   @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
   }

   &:not(:last-child) {
      @media screen and (max-width: 767px) {
         margin-bottom: 30px;
      }
   }

   @media screen and (min-width: 1200px) {
      width: calc((100% - 4 * 30px) / 4);
      margin: 15px;
   }

   &:not(:last-child) {
      @media screen and (max-width: 1200px) {
      margin-bottom: 30px;
      }
   }
}

.features__icon {
   display: block;
   content: "";
   height: 120px;
   margin-bottom: 30px;
   background-color: var(--secondary-background-color);
   padding: 25px 100px;

   @media screen and (min-width: 480px) {
      width: 450px;
   }

   @media screen and (min-width: 768px) {
      width: 356px;
   }

   @media screen and (min-width: 1200px) {
      width: 270px;
   }

}

.features__title {
   margin-bottom: 10px;
   color: var(--primary-black-c);
   text-transform: uppercase;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;

   @media screen and (min-width: 480px) {
      text-align: center;
   }

   @media screen and (min-width: 768px) {
      text-align: initial;
   }
}

.features__text {
   color: var(--upper-title-text);
   line-height: 1.71;
   // margin-bottom: 10px;
}