.features {
   padding-top: 89px;
}

.features__list {
   display: flex;
}

.features__item {
   margin-right: 30px;
   width: 270px;

&:last-child {
   margin-right: 0;
   }
}

.features__icon {
   display: block;
   content: "";
   width: 270px;
   height: 120px;
   margin-bottom: 30px;
   background-color: var(--secondary-background-color);
   padding: 25px 100px;

}

.features__title {
   margin-bottom: 10px;
   color: var(--primary-black-c);
   text-transform: uppercase;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
}

.features__text {
   color: var(--upper-title-text);
   line-height: 1.71;
}