

.features__list {
   --item: 1;
}
   
@media screen and (min-width: 768px) {
   .features__list {
      --item: 2;
   }
}

@media screen and (min-width: 1200px) {
   .features__list {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
   }
}

.features__item {
   width: 100%;
}

.features__icon {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   width: 100%;
   height: 120px;
   background-color: var(--secondary-background-color);
   margin-bottom: 30px;
   padding: 25px 100px;
}

.features__icon:not(:last-child) {
   margin-right: 30px;
}

.features__title {
   margin-bottom: 10px;
   color: var(--primary-black-c);
   text-transform: uppercase;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
}

   @media screen and (max-width: 479px) {
      .features__title {
            display: flex;
            justify-content: center;
         }
      }

   @media screen and (min-width: 480px) {
      .features__title {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-pack: center;
         -ms-flex-pack: center;
         justify-content: center;
      }
   }

   @media screen and (min-width: 768px) {
      .features__title {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-pack: start;
         -ms-flex-pack: start;
         justify-content: flex-start;

      }
   }


.features__text {
   color: var(--upper-title-text);
   line-height: 1.71;
   // margin-bottom: 10px;
}