.hero {
   background-color: var(--background-hero);
   text-align: center;
   padding: 200px 0;
}

.hero__title {
   margin-bottom: 30px;
   font-weight: 900;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--primary-white-color);


   
   @media screen and (min-width: 480px) {
      font-size: 26px;
      line-height: 1.61;
      }

   @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.77;
   }
}

.hero__btn {
   display: inline-block;
   padding: 10px 32px;

&:hover,
&:focus {
   background-color: #188CE8;
   }
}

.hero--overlay {
   margin-left: auto;
   margin-right: auto;

   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;


   @media screen and (min-width: 0px) and (max-width: 479px) {
   background-image:
         linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
         url(../images/hero/hero-bg-mob.jpg);

            @media (min-device-pixel-ratio: 2),
   (-webkit-min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
   background-image: 
   linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
               url(../images/hero/hero-bg-mob@2x.jpg);
         }
   }



   @media screen and (min-width: 480px) and (max-width: 767px) {
      background-image: 
      linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-mob.jpg);
         
   @media (min-device-pixel-ratio: 2),
   (-webkit-min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
   background-image: 
   linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-mob@2x.jpg);
   }
   }


   @media screen and (min-width: 768px) and (max-width: 1199px) {
   background-image:
   linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-tab.jpg);
                     
   @media (min-device-pixel-ratio: 2),
   (-webkit-min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
   background-image: 
   linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-tab@2x.jpg);
}
}

   @media screen and (min-width: 1200px) {
   background-image:
   linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-desc.jpg);
   
   @media (min-device-pixel-ratio: 2),
   (-webkit-min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
   background-image:
   linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-desc@2x.jpg);
   }
   }
}
